@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

body::after {
  content: "";
  width: 34vw;
  height: 87.5%;
  background-color: green;
  position: absolute;
  left: -5.55%;
  border-radius: 0 0 17vw 17vw;
}

body::before {
  content: "";
  width: 34vw;
  height: 87.5%;
  background-color: red;
  bottom: 0px;
  right: -11%;
  position: absolute;
  border-radius: 17vw 17vw 0 0;
  opacity: 0.03;
}

#presentation {
  width: 31.55%;
  position: absolute;
  right: 18%;
  top: 37.5%;
  z-index: 2;
}
#presentation h1 {
  margin-bottom: 4.375%;
  color: hsl(271deg, 36%, 24%);
}
#presentation p {
  margin-left: 2px;
  font-size: 0.84375rem;
  color: hsl(220deg, 7%, 64%);
}